.login_page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.login_page .left {
  height: 100vh;
  background: var(--c-primary);
}
.login_page .left img {
  width: 100%;
}
.login_page .right {
  flex-direction: column;
}
.login_page .right form {
  align-items: flex-start;
  gap: 1rem;
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
}

.register_page,
.forgot_password {
  min-height: 100vh;
}
.register_page form {
  max-width: 400px;
  width: 100%;
}
.register_page form button {
  margin-top: 20px;
}

.forgot_password {
  text-align: center;
}

.forgot_password form {
  margin-top: 15px;
  max-width: 400px;
  width: 100%;
}
.forgot_password button {
  margin-top: 10px;
}
